@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">Zip It! <img src="~/img/zipper1.png" /></h1>
<aside class="companyContact">
    <img src="~/img/factory.jpg" alt="Zip It Factory"/>
    <p><strong>Address: </strong><a href="https://goo.gl/maps/C4Wx8raAhZUpFYAr9">3000 Tollview Dr, Rolling Meadows, IL 60008, United States</a></p>
    <p><strong>Phone: </strong><a href="tel:5198675309">519-867-5309</a></p>
    <p><strong>Email: </strong><a href="mailto:customerservice@zipit.com">customerservice@zipit.com</a></p>
</aside>
<article class="homeArticle">
    <h3>Factory Tours</h3>
    <p>Come visit our factory and see how your favourite zippers are made! We offer full factory tours
    led by a guide. Guests will have the chance to make their own zipper, and even a chance to win
    our latest zipper, the magical <a href="https://localhost:44377/Zippers?ZipperCategory=Magic&SearchString=">Zypnotic</a>.</p>
</article="homeArticle">
