@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<article>
    <h4>Our Mission</h4>
    <p>We at <strong>Zip It!</strong>, are committed to becoming the top wholesale zipper distributer in the world!
    Whether you're looking for a standard zipper for some jeans you are producing, or you need to a little magic to your
    zipper game, we have got a zipper for you!</p>
</article>
<article>
    <h4>Proceeds and Charites</h4>
    <p>
        Not only are shooting for the stars in the zipper industry, we are also dedicating 75% of our profits to food banks,
        homeless shelters, and rehab facilities across the world! 
    </p>
</article>
