@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">Zip It! <img src="~/img/zipper1.png" /></h1>
<div class="row">
    <aside class="companyContact">
        <img src="~/img/factory.jpg" alt="Zip It Factory" />
        <p><strong>Address: </strong><a href="https://goo.gl/maps/C4Wx8raAhZUpFYAr9">3000 Tollview Dr, Rolling Meadows, IL 60008, United States</a></p>
        <p><strong>Phone: </strong><a href="tel:5198675309">519-867-5309</a></p>
        <p><strong>Email: </strong><a href="mailto:customerservice@zipit.com">customerservice@zipit.com</a></p>
    </aside>
    <article class="homeArticle">
        <h3>Factory Tours</h3>
        <p>
            Come visit our factory and see how your favourite zippers are made! We offer full factory tours
            led by a guide. Guests will have the chance to make their own zipper, and even a chance to win
            our latest zipper, the magical <a href="https://localhost:44377/Zippers?ZipperCategory=Magic&SearchString=">Zypnotic</a>.
        </p>
    </article>
    <article class="information">
        <h4>Tour Prices</h4>
        <ul>
            <li><strong>Kids</strong><em>(0-11): Free...</em></li>
            <li><strong>Teens</strong><em>(12-18): $5...</em></li>
            <li><strong>Adults</strong><em>(19-64): $7...</em></li>
            <li><strong>Seniors/Military</strong><em>(65+): $2...</em></li>
        </ul>
        <div class="container3">
            <h4>Information</h4>
            <p>Opened in 1785, <strong>Zip It!</strong> has set and maintained the standard we hold
            zippers to as a society. In this family tour, you and your family will learn why the majority
            of the world trusts us with their zippers. There is a hands on activity where you and your 
            family get the chance to make your dream zipper, for <strong>FREE!</strong></p>
        </div>
    </article>
</div>

