@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="displaystyle">
        <div class="card">
            <img src="~/img/Moss.jpg" alt="Moss" style="width:100%">
            <div class="container2">
                <h2>Maurice Moss</h2>
                <p class="title">IT Director</p>
                <p>
                    Moss is a wizard when it comes to computers. Whenever
                    someone at <strong>Zip It!</strong> is having
                    trouble with their computer, Moss is there to save the day!
                    Without Moss, this place would have no working computers.
                </p>
                <a href="mailto:saucymossy@zipit.com">saucymossy@zipit.com</a> @*Working Email Link to the employees email address*@
            </div>
        </div>
    </div>
    <div class="displaystyle">
        <div class="card">
            <img src="~/img/roy.jpg" alt="Roy" style="width:100%">
            <div class="container2">
                <h2>Roy</h2>
                <p class="title">Data Analyst</p>
                <p>
                    Roy is our lead data analyst. Real numbers guy. Roy spots customer trends
                    and helps <strong>Zip It!</strong> adapt to the market. Single-handedly,
                    Roy is helping <strong>Zip It!</strong> stay relevent in the eyes
                    of the zipper market.
                </p>
                <a href="mailto:roy@zipit.com">roy@zipit.com</a>
            </div>
        </div>
    </div>
    <div class="displaystyle">
        <div class="card">
            <img src="~/img/Jen.jpg" alt="Jen" style="width:100%">
            <div class="container2">
                <h2>Jen Barber</h2>
                <p class="title">Customer Experience Lead</p>
                <p>
                    Jen is our wonderful Customer Experience Lead. If you've called customer support,
                    chances are you've already met Jen! From handling customer issues, to finalizing sales of
                    her own, Jen truly does it all!
                </p>
                <a href="mailto:jenbarber@zipit.com">jenbarber@zipit.com</a>
            </div>
        </div>
    </div>
    <article class="mission">
        <h4>Our Mission</h4>
        <p>
            We at <strong>Zip It!</strong>, are committed to becoming the top wholesale zipper distributer in the world!
            Whether you're looking for a standard zipper for some jeans you are producing, or you need to a little magic to your
            zipper game, we have got a zipper for you!
        </p>
    </article>
</div>





