/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Table of Contents:
1. Header Styles
2. Navigation Styles
3. Heading Styles
4. Body Styles
5. Footer Styles
6. Media Queries
*/


/* 1. Header Styles */
header {
    background-color: grey;
    font-family: 'Silkscreen', cursive;
}
/* 2. Navigation Styles */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}
/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* 3. Heading Styles */

h1, h1.text-center {
    font-family: 'Silkscreen', cursive;
    font-size: 4vw;
}
h1 img {
    margin-left: -5%;
    margin-top: -2%;
    width: 10%;
}
h3 {
    font-size: 2.75vw;
    font-family: 'Work Sans', sans-serif;
}
h4 {
    font-size: 2.5vw;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
.about:first-of-type h4 {
    margin-bottom: 5%;
}

/* 4. Body Styles */
html {
    font-size: 14px;
}
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: aliceblue;
}

.border-top {
    border-top: 1px solid dimgrey;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

article {
    text-align: center;
}





 

/* 5. Footer Styles */

footer {
    background-color: grey;
    font-family: 'Silkscreen', cursive;
}

footer > div.container p {
    text-align: center;
    font-weight: bold;
    color: black;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}









/*Landing Page Styles*/
.companyContact {
    float: left;
    box-sizing: border-box;
    width: 25%;
    border: 3px solid black;
    border-radius: 5%;
    padding: 10px;
    margin-bottom: 15%;
}
.companyContact img {
    width: 100%;
    border-radius: 5%;
    margin-bottom: 2%;
}
.homeArticle {
    float: left;
    width: 33%;
    margin-left: 2%;
    text-align: center;
    font-size: 1.25vw;
    padding: 5px
}
.homeArticle h3 {
    font-weight: bold;
}
.information {
    float: left;
    font-family: 'Work sans', sans-serif;
    background-color: antiquewhite;
    margin-left: 5%;
    padding: 10px;
    width: 27%;
    text-align: left;
    margin-bottom: 5%;
}

.information h4 {
    text-align: center;
    font-size: 1.75vw;
}
.information ul {
    width: 100%;
    list-style-type: none;
}
.container3 {
    background-color:white;
    padding: 5px;
    text-indent: 2em;
    border-radius: 5%;
}

//*Product/About Us Styles*/
.displaystyle a {
    margin-left: 7%;
    margin-right: 7%;
}

.displaystyle, .mission {
    line-height: 1.05em;
    font-family: 'Work Sans', sans-serif;
}

.control-label {
    font-family: 'Work Sans', sans-serif;
}

.displaystyle p:first-of-type {
    margin-top: 2%;
    margin-bottom: 10%;
    text-align: center;
}

.displaystyle:last-of-type {
    margin-bottom: 5%;
}

.displaystyle {
    float: left;
    width: 30%;
    margin-bottom: 5%;
    padding: 0 8px;
}
.container2 {
    padding: 10px;
}
.displaystyle:hover  .card {
    background-color: lightgoldenrodyellow;
}
.mission {
    clear: both;
    width: 55%;
    margin: 0 auto;
    background-color: antiquewhite;
    border: 2px solid black;
    margin-bottom: 5%;
    padding: 5px
}
.productImg {
    width: 75%;
    margin-left: 12.5%;
    margin-bottom: 2%;
    border-radius: 5%;
    margin-top: 2%;
}

/* Add some shadows to create a card effect */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.displaystyle {
    padding: 0 16px;
}

/* Clear floats */
.displaystyle::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
/* Display the columns below each other instead of side by side on small screens */

@media screen and (max-width: 810px) {
    .displaystyle {
        width: 45%;
    }

    .displaystyle:hover {
        width: 50%;
    }

    .mission {
        float: left;
        border: none;
        width: 50%;
        margin-bottom: 55%;
    }

    .companyContact {
        width: 45%;
    }

    .homeArticle {
        float: none;
        clear: both;
        width: 53%;
        margin: 0 0 0 0;
    }

    .information {
        float: none;
        clear: both;
        width: 100%;
        padding: 15px;
        margin-left: 0
    }
    .container3 {
        border-radius: 0%;
    }
    h3 {
        font-size: 5.25vw;
    }

    .information h4, h4 {
        font-size: 4.5vw;
    }

    .information li {
        font-size: 3vw
    }

    p {
        text-indent: 0;
        font-size: 3vw;
        line-height: 1.15em
    }
}



@media screen and (max-width: 650px) {
    .displaystyle {
        width: 100%;
        display: block;
    }

        .displaystyle:hover {
            width: 100%
        }

    .mission {
        border: none;
        width: 100%;
    }

    .companyContact {
        border: none;
        width: 100%;
    }

    .homeArticle {
        float: none;
        clear: both;
        width: 100%;
        margin: 0 0 0 0;
    }
    .information {
        float: none;
        clear: both;
        width: 100%;
        padding: 15px;
        margin-left: 0
    }
    h3 {
        font-size: 6.5vw;
    }
    .information h4, h4{
        font-size: 6vw;
    }
    .information li {
        font-size: 4.75vw
    }

    p {
        font-size: 4vw;
        line-height: 1.25em
    }
}





